/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: whitesmoke;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 10px;
    background-image: url(https://www.toledoblade.com/image/2017/01/04/Downtown-Toledo-Ohio-jpg.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: auto;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.container{
    color: whitesmoke;
}
.background {
    position: relative;
}
.transbox {
    width: 100%;
    height: auto;
}
.transbox h1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    color: whitesmoke;
}
.section-one {
    background-color: rgba(226, 115, 73, 0.75);
    background-size: auto;
    word-wrap: break-word;
    padding-left: 5px;
    width: 375px;
    position: absolute;
    top: 75%;
    left: 75%;
    transform: translate(-50%, -50%);
}
.section-two {
    background-color: rgba(226, 115, 73, 0.75);
    background-size: contain;
    word-wrap: break-word;
    padding-left: 5px;
    width: 375px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section-three {
    background-color: rgba(226, 115, 73, 0.75);
    background-size: contain;
    word-wrap: break-word;
    padding-left: 5px;
    width: 375px;
    position: absolute;
    top: 75%;
    left: 25%;
    transform: translate(-50%, -50%);
}
.text-box {
    background-color: rgba(226, 115, 73, 0.75);
    background-size: 100% 100%;
    word-wrap: break-word;
    position: center;
    padding: 10px;
    font-size: 100%;
}
.text p {
    color: whitesmoke;
}