
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-1"><strong>About Me</strong></h1>
</div>
<div class="text-box">
    <p class="text">
        Hi, my name's Mike, and I'm a developer using C# language and the .NET Core, as well front-end such as HTML, CSS, and Javascript.
        I'm looking to add my value to the ever-evolving world of technology and be in the industry that is paving the way to the future.
    </p>
</div>
<div class="section-one">
    <section>
        <h3>
            LinkedIn
        </h3>
        <p>
            <a href="https://www.linkedin.com/in/michaelbonitati">Michael Bonitati LinkedIn</a>
        </p>
    </section>
</div>
<div class="section-two">
    <section>
        <h3>
            Facebook
        </h3>
        <p>
            <a href="https://www.facebook.com/michael.bonitati.7">Michael Bonitati Facebook</a>
        </p>
    </section>
</div>
<div class="section-three">
    <section>
        <h3>
            Github
        </h3>
        <p>
            <a href="https://www.github.com/tatiMike">Michael Bonitati Github</a>
        </p>
    </section>
</div>