@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-1"><strong>Mike Bonitati</strong></h1>
</div>

<div class="section-one">
    <section>
        <h3>
            Blogs
        </h3>
        <p>
            Any chance I get to express my creativty through writing or now, through programming, I jump at the chance.
            That's why I have been considering starting my own blog to get my ideas and thoughts out there!


        </p>
    </section>
</div>

<div class="section-two">
    <section>
        <h3>
            Passion for Tech
        </h3>
        <p>
            I've always been passionate about technology and the places it'll take us.
            I want to be in the industry that is leading the way to whatever the future holds and the many possibilites.
            That's why in 2019, I entrolled in Grand Circus' back-end program and I'm now experienced in
            C#, .NET Core, MVC, HTML, CSS, and Javascript, just to name a few.
        </p>
    </section>
</div>

<div class="section-three">
    <section>
        <h3>
            T-Town
        </h3>
        <p>
            It's called the "Mud", but it's the city I was born and raised in. 
            It's actually pretty clean, nicknames aside. 
            Here we have 2 minor sports teams, a budding downtown, and supposedly some fairly exciting eatery's.
            I've always thought of Toledo as a mini Detroit, so for any Detroiter's visiting - it should be somewhat familiar!
        </p>
    </section>
</div>
