
@{
    ViewData["Title"] = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-1"><strong>Portfolio</strong></h1>
</div>
<div class="section-two">
    <h3>Projects</h3>
    <p>
        <a href="http://github.com/irichmond223/MidtermPOS.git">Point of Sale Console Application</a>
    </p>
</div>


@*<p><a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a></p>
    </div>*@

@*<select>
        <option value="projectone">Point of Sale Console Application</option>
    </select>*@