@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-1"><strong>Privacy</strong></h1>
</div>
<div class="text-left">
    <h2 class="display-4">Statement</h2>
    <p>I don't really know what to put here, but please don't steal my face.</p>
</div>
